* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  user-select: none;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  background: #4992FC;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.button.is-primary {
  background-color: #7F73FF;
}
.button.is-primary:hover {
  background-color: #8d83fb;
}